@using BlazorToDoList.Data
@using BlazorToDoList.Services
@inject ToDoService _toDoService


<EditForm Model="@_toDoItem" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText id="email" @bind-Value="@_toDoItem.Task"/>
    <br>
    <button type="submit" class="btn btn-primary">Add Task</button>
</EditForm>

@if (ToDoItems is null)
{
    <div>Your Todo List is Empty!</div>
}
else
{
    if (ToDoItems.Any())
    {
        <h2>Not Completed</h2>
        foreach (var toDoItem in ToDoItems.Where(item => item.IsComplete is false))
        {
            <div @onclick="@(() => MarkAsComplete(toDoItem.Id))">@toDoItem.Task</div>
        }
        
        <h2>Completed</h2>
        foreach (var toDoItem in ToDoItems.Where(item => item.IsComplete))
        {
            <div>@toDoItem.Task</div>
        }
    }
}
